<!DOCTYPE html>
<html>
<head>
  <title>Timescythe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
  <li><%= link_to "Timescythe", root_path %></li>
</div>

<img src ='../app/assets/images/leaf.jpg' />

<div class="shadowbox">
  <h1>An Astro-Herbal Resource</h1>
</div>


<%= yield %>

</body>
</html>
